<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <header class="navbar">
        <ul>
            <li>
                <span id="logo">Chatty</span>
            </li>

            <div class="nav-links">
                <li>
                    <button class="nav-links__button">
                        Log-In
                    </button>
                </li>
                <li>
                    <button class="nav-links__button">
                        Sign-Up
                    </button>
                </li>
            </div>
        </ul>
    </header>
    <div id="bg"></div>
    <div id="bg2"></div>
    {{{body}}}
</body>

</html>